.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  height: 5rem;
  padding: 0 1rem;
  background-color: var(--background);
  box-shadow: 0 0 5px var(--secondary);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .brand {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 3rem;
      height: auto;
    }
  }

  nav {
    background-color: var(--secondary);
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    padding: 5rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    clip-path: circle(1.5rem at calc(100% - 2rem) 2.6rem);
    transition: clip-path 0.5s ease;
    color: var(--forground);
    cursor: pointer;

    > a {
      margin-bottom: 1.5rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid var(--forground);
    }

    > a:first-child {
      border-top: 1px solid var(--forground);
      padding-top: 1.5rem;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .theme-toggler {
    background-color: var(--secondary);
    display: grid;
    place-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    svg {
      width: 1rem;
    }
  }

  .hamburger {
    z-index: 99;
    height: 1.4rem;
    width: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    .bar {
      display: block;
      height: 3px;
      width: 100%;
      background-color: var(--forground);
      position: absolute;
      border-radius: 5px;
      pointer-events: none;
    }

    .bar1 {
      top: 0;
    }

    .bar2 {
      top: 50%;
      width: 50%;
    }

    .bar3 {
      top: 100%;
      width: 80%;
    }
  }

  &.clicked {
    nav {
      clip-path: circle(150% at 100% 0%);
      cursor: default;
    }

    .bar {
      width: 100%;
    }

    .bar1 {
      top: 50%;
      transform: rotate(45deg);
    }

    .bar2 {
      background-color: transparent;
    }

    .bar3 {
      top: 50%;
      transform: rotate(-45deg);
    }

    .call-to-action {
      display: block;
    }
  }

  @media screen and (min-width: 1024px) {
    & {
      .container {
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
      }

      .hamburger {
        display: none;
      }

      .call-to-action {
        margin: 0;
        display: block;
      }

      nav {
        position: static;
        z-index: unset;
        width: auto;
        height: auto;
        padding: 0;
        clip-path: circle(100%);
        flex-direction: row;
        gap: 1rem;
        font-size: 1rem;
        background-color: transparent;
        color: inherit;
        cursor: default;

        > div {
          display: flex;
          align-items: center;

          &.left {
            justify-content: flex-end;
          }
        }

        a {
          margin: 0 1rem !important;
          padding: 0 !important;
          border: none !important;
        }
      }
    }
  }
}
