:root {
  --primary: #2debdb;
  --background: black;
  --secondary: rgb(20 20 20);
  --forground: white;
}

[data-theme="light"] {
  --background: white;
  --forground: black;
  --secondary: rgb(235 235 235);
}
